/* font-family: 'Montserrat', ; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --navHeight: 80px;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* NAWIGACJA */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navHeight);
  background-color: white;
  border-bottom: 1px solid #888;
  z-index: 1;
}

nav .burger {
  display: none;
  position: absolute;
  right: 35px;
  top: 25px;
  font-size: 30px;
}

nav .logoMini {
  display: none;
  position: absolute;
  /* top: 5px; */
  left: 5px;
  height: 80px;
  width: auto;
}

nav .logoMini img {
  height: 80px;
}

nav ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  max-width: 1280px;
  margin: auto;
  list-style-type: none;
  transition: 0.6s;
  /* z-index: -1; */
}

nav ul li {
  flex-basis: 20%;
}

nav ul li img {
  height: 80px;
  cursor: pointer;
}

nav ul li a {
  position: relative;
  display: block;
  width: 60%;
  height: 40px;
  line-height: 40px;
  margin: 20px auto;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  color: #888;
}

nav ul li a::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #6997bf;
}

nav ul li a:hover::after {
  background-color: #6997bf;
  width: 100%;
}

@media (max-width: 1024px) {
  nav ul {
    width: 80%;
  }
}

@media (max-width: 768px) {
  nav ul {
    width: 90%;
  }
}

/* S1 */

.s1 {
  height: calc(100vh - var(--navHeight));
  margin-top: calc(var(--navHeight));
}

@media (max-width: 700px) {
  nav .burger {
    display: block;
  }

  nav .logoMini {
    display: block;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    top: -300px;
    width: 100%;
    background-color: white;
    z-index: -1;
  }

  nav .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navHeight);
    background-color: white;
    /* border-bottom: 1px solid #888; */
  }

  nav ul.active {
    top: 30px;
  }

  nav ul li {
    flex-basis: 60px;
  }

  nav ul li img {
    display: none;
  }

  .s1.active {
    margin-top: 340px;
  }

  nav ul li a:hover {
    color: #6997bf;
  }

  nav ul li a:hover::after {
    background-color: #6997bf;
    width: 0;
  }
}

@media (max-width: 700px) and (orientation: landscape) {
  .s1 {
    height: calc(100vh - 70px);
    margin-top: 70px;
  }

  nav {
    height: 70px;
  }

  nav ul {
    top: -310px;
  }

  nav ul li {
    flex-basis: 40px;
  }

  nav ul li a {
    margin: 8px auto;
  }

  nav .cover {
    height: 70px;
  }

  nav .logoMini img {
    height: 70px;
  }

  nav .logoMini {
    height: 70px;
  }

  nav .burger {
    top: 18px;
    right: 32px;
  }
}
