footer {
  --footerHeight: 80px;
  height: var(--footerHeight);
  line-height: var(--footerHeight);
  background-color: #222;
  color: #bbb;
  font-size: 14px;
  text-align: center;
  /* font-weight: bold; */
}

footer span > span {
  font-size: 10px;
}

@media (max-width: 640px) {
  footer {
    font-size: 12px;
  }

  footer span > span {
    font-size: 9px;
  }
}
